  <div class="home-top">
    <h1>Welcome to {{title}}!!</h1>
    <div>
      <button *ngIf="pageInfo.prevPageToken" type="button" class="btn-primary" (click)="previousPage();">Previous page</button>
      <label for="search">Search</label>
      <input type="text" pInputText [ngModel]="search" (ngModelChange)="onSearch($event, maxResults)" name="search">
      <span>Results per page:</span>
      <p-dropdown [options]="ddResultCount" [ngModel]="maxResults" (ngModelChange)="onSearch(search, $event)" name="maxResults"></p-dropdown>
      <button *ngIf="pageInfo.nextPageToken"  type="button" class="btn-primary" (click)="nextPage();">Next page</button>
    </div>
  </div>
  <div class="ui-g centralize">
    <div *ngFor="let video of results" class="ui-g-12 ui-md-6 ui-lg-4 ui-xl-4 video-holder">
      <a href="./video/{{video.id}}"><img [src]="video.thumbnails.medium.url" class="video-image centralize"/></a>
      <div class="video-title">
        <a href="/video/{{video.id}}">
          <h5>{{video.title}} [{{video.duration}}]</h5>
        </a>
      </div>
    </div>
  </div>